.webix_toolbar.myHeader {
  background: #657584;
}
.webix_toolbar.myHeader .webix_el_label .webix_el_box,
.webix_toolbar.myHeader .webix_scroll_cont button span,
.webix_toolbar.myHeader .webix_scroll_cont button {
  color: #fff;
}
.footer {
  text-align: center;
}
.webix_list.list {
  background: #eee;
}
.connected .webix_template {
  color: green;
  text-align: center;
  background: #eee;
}

.movieTableRowHover.webix_cell {
  background: #1ca1c1;
  color: #fff;
}
.rank {
  background: #f4f5f9;
}
.deleteUser {
  float: right;
}
.notBoomer {
  background: #feffd4;
}
